@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');


nav.kamiliaNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    margin-top: 2.625rem;
}

.kamiliaNav > * {
    /* width: 100%; */
}

.kamiliaNav__name{
    /* background: red; */
    flex: 0.3;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    /* font-weight: bold; */
    font-size: 30px;
    line-height: 38px;
    color: #000000;
}

.kamiliaNav__navLinks{
    display: flex;
    list-style: none;
    /* background: blue; */
    flex: 1;
}

.kamiliaNav__navLinks > li{
    margin-right: 42px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
}

.kamiliaNav__icons{
    /* background: purple; */
    display: flex;
    justify-content: flex-end;
    flex: 0.3;
}

.kamiliaNav__icons > *{
    margin-left: 30px;
}

