.container{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.row{
    display: flex;
    justify-content: space-between;
}

/* The above styles are global.. dont touch */

.antique__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid red; */
}

.antique__nav > p{
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #212832;
}

.antique__nav > p > span{
    color:#FF7B29 ;
}

.antique__lists{
    display: flex;
}

.antique__lists > li{
    margin-right: 100px;
}


.antique__lists >li:last-child{
    margin-right: 0px;
}

.antique__lists > li{
    list-style-type: none;
}

.antique__lists > li:hover{
    cursor: pointer;
    border-bottom: 2px solid #FF7B29;
}

@media screen and (max-width:1200px) {
    .antique__lists > li{
        margin-right: 50px;
    }
    
}

@media screen and (max-width:900px) {
    .antique__nav > div{
        /* flex-direction: column; */
        display: none;
    }

    .antique__nav > p{
    }

    .antique__lists > li{
        /* flex-direction: ; */
        margin-right: 25px;
    }

}

@media screen and (max-width: 500px) {
    .antique__lists{
        display: none;
        /* flex-direction: column; */
    }
}
