.antiqueSubscribe{
    margin-top: 277px;
    padding: 70px 0 70px 79px;
    background: #132742;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    .antiqueSubscribe{
        padding-left: 20px;
    }
}

.antiqueSubscribe > img{
    position: absolute;
    bottom: 8px;
    right: 120px;
}


.antiqueSubscribe > h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.antiqueSubscribe > div:first-of-type > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.88);
}

.antiqueSubscribe > div:first-of-type{
    margin-bottom: 45px;
}


.antiqueSubscribe__search{
    background: white;
    max-width: 450px;
    /* width: 85%; */
    border-radius: 12px;
    /* border: 3px solid purple; */
    /* overflow: hidden; */
    
}

@media screen and (max-width: 500px) {
    .antiqueSubscribe__search{
        width: 80%;
    }
}

.antiqueSubscribe__search > input{
    padding: 24px 0;
    padding-left: 24px;
    outline: none;
    width: 90%;
    /* flex: 1; */
} 


.antiqueSubscribe__search > .box{
    /* width: 100%; */
    width: 60px;
    height: auto;
    background: #F66F4D;
    display: flex;    
    justify-content: center;
    align-items: center;
    border: none;
}


@media screen and (max-width: 1000px) {
    .antiqueSubscribe__img {
        display: none;
    }
}