@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

nav.malikoNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    /* padding-right: 10%; */
    padding-right: 60px;
    padding-left: 130px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    /* border: 1px solid red; */
}

ul.malikoNav__lists{
    display: flex;
    list-style: none;
    /* border: 1px solid red; */
}

.malikoNav__lists > *:not(:first-child){
    margin-left: 46px;
}

.malikoNav__icon > *:not(:last-child){
    margin-right: 30px;
}


/* .venissaFooter__mappedList:not(:first-child){
    padding-left: 50px;
} */