/* .natashaMain__container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
} */

.natashaMain{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid red;
}