.antiqueTopCategory{
    /* height: 5vh; */
    margin-top: 200px;
    /* border: 1px solid red; */
    margin-top: 8.75rem;
}

.antiqueTopCategory > div{
    align-items: center;
    margin-bottom: 3.125rem;
}

.antiqueTopCategory > h1{
    /* color: red; */
    margin-bottom: 1.5rem;
}

.antiqueTopCategory__carouselButtons > *{
    margin: 0 5px;
}

.antiqueTopCategory__flexContainer{
    border: 1px solid red;
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
}

.antiqueTopCategory__flexContainer > div{
    height: 100%;
    /* border: 1px solid red; */
}

.antiqueTopCategory__flexContainer > div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.antiqueTopCategory__flexContainer > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.antiqueTopCategory__flexContainer > div:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.antiqueTopCategory__flexContainer > div:nth-child(3) > div:first-of-type {
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
    border-radius: 20px;
}

.Third__grid{
    display: flex;
}