.antiqueTopCategory{
    /* height: 5vh; */
    margin-top: 200px;
    /* background: red; */
    border: 1px solid red;
    margin-top: 8.75rem;
}

.antiqueTopCategory > div{
    align-items: center;
    /* background: green; */
    margin-bottom: 3.125rem;
}

.antiqueTopCategory > h1{
    /* color: red; */
    margin-bottom: 1.5rem;
}

.antiqueTopCategory__carouselButtons > *{
    margin: 0 5px;
}

/* .antiqueTopCategory__grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 30px;

}

.antiqueTopCategory__grid > .antiqueTopCategory__item{
    height: 250px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
    border-radius: 20px;
    background-image: url('../../assets/preview.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
}

.antiqueTopCategory__item{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(36, 36, 40, 0.59) 100%);
    border-radius: 20px;
    border: 3px solid orange;
}

.antiqueTopCategory__item > *{
    position: absolute;
    left: 24px;
}

.antiqueTopCategory__item > div {
    top: 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FF7B29;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
}

.antiqueTopCategory__item > .name {
    bottom: 46px;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 8px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.antiqueTopCategory__item > .description{
    bottom: 24px;
}

 */
